<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DG.AdvancedDataGridView" version="1.1.25515.10" targetFramework="net472" />
  <package id="DocumentFormat.OpenXml" version="2.12.3" targetFramework="net472" />
  <package id="Google.Protobuf" version="3.15.6" targetFramework="net472" />
  <package id="Grpc" version="2.36.4" targetFramework="net472" />
  <package id="Grpc.Core" version="2.36.4" targetFramework="net472" />
  <package id="Grpc.Core.Api" version="2.36.4" targetFramework="net472" />
  <package id="Grpc.Tools" version="2.36.4" targetFramework="net472" developmentDependency="true" />
  <package id="IronOcr" version="2021.2.1" targetFramework="net472" />
  <package id="IronOcr.Languages.Hungarian" version="2020.11.2" targetFramework="net472" />
  <package id="MaterialDesignColors" version="2.0.0" targetFramework="net472" />
  <package id="MaterialDesignThemes" version="4.0.0" targetFramework="net472" />
  <package id="MaterialSkin" version="0.2.1" targetFramework="net472" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="5.0.0" targetFramework="net472" />
  <package id="Microsoft.Office.Interop.Word" version="15.0.4797.1003" targetFramework="net472" />
  <package id="SuperSimpleTcp" version="2.4.0" targetFramework="net472" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net472" />
  <package id="System.Drawing.Common" version="5.0.2" targetFramework="net472" />
  <package id="System.IO.FileSystem.Primitives" version="4.3.0" targetFramework="net472" />
  <package id="System.IO.Packaging" version="5.0.0" targetFramework="net472" />
  <package id="System.Memory" version="4.5.4" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="5.0.0" targetFramework="net472" />
  <package id="System.Text.Encodings.Web" version="5.0.1" targetFramework="net472" />
  <package id="System.Text.Json" version="5.0.1" targetFramework="net472" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net472" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net472" />
</packages>